<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>otp</servlet-name>
        <servlet-class>com.otp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auth</servlet-name>
        <servlet-class>com.auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addshare</servlet-name>
        <servlet-class>com.addshare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auto</servlet-name>
        <servlet-class>com.auto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buy</servlet-name>
        <servlet-class>com.buy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>money</servlet-name>
        <servlet-class>com.money</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sell</servlet-name>
        <servlet-class>com.sell</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>del</servlet-name>
        <servlet-class>com.del</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>otp</servlet-name>
        <url-pattern>/otp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auth</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addshare</servlet-name>
        <url-pattern>/addshare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auto</servlet-name>
        <url-pattern>/auto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buy</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>money</servlet-name>
        <url-pattern>/money</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sell</servlet-name>
        <url-pattern>/sell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>del</servlet-name>
        <url-pattern>/del</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homepage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
